@mixin page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  padding-top: 64px;
}

.page {
  @include page;
  background: #f0f2f5;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  position: relative;
}

.nav-icon {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
}

.nav-icon.left {
  left: 10px;
}

.nav-icon.right {
  right: 20px;
  width: 35px;
  height: 35px;
}

.title {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}

.title-align {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  align-self: center;
}

.list-wrapper {
  width: 100vw;
  height: 700px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  list-main-axis-gap: 20px;
  list-cross-axis-gap: 10px;
}

.card {
  position: relative;
  width: 120px;
  height: 160px;
  background: linear-gradient(120deg, #1a1a2e, #16213e);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* transform-style: preserve-3d; */
  transition: transform 0.3s ease;
}
.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg")
    no-repeat center;
  background-size: cover;
  /* backface-visibility: hidden; */
}
.card:hover {
  transform: rotateY(10deg) rotateX(10deg);
}
.holo-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 191, 255, 0.3)
  );
  /* mix-blend-mode: color-dodge; */
  animation: shine 3s infinite;
}
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.card-content {
  position: relative;
  z-index: 1;
  padding: 4px;
  color: white;
  text-align: center;
}
.card-content img {
  width: 100%;
  height: auto;
  max-height: 90px;
  /* object-fit: contain; */
}
